.banner{
    background-image: radial-gradient(rgba(0, 0, 0, 0),rgba(255, 255, 255, 0.164)
        ), url('../images/n.jpg');
    background-position: center;
    background-size:cover;
    height: 100vh;
    align-items: center;
}
.intro{
    margin: auto;
    background-color: transparent;
    border-radius: 0.2rem;
    max-width: 50rem;
    text-align: center;
}
