.intro{
    background-color: white;
    display: flex;
    flex-basis: auto;
    min-height: 20rem;
    align-items: center;
    margin: 4rem auto;
}
h4{
    font-size: 3rem;
    margin-right: 4rem;
    color: rgb(0, 0, 155, 0.623);
}
p{
    margin-left: 4rem;
    text-align: justify;
}