/* intro */
.flex-intro {
  padding: 5%;
  background-color: white;
  display: grid;
  grid-template-columns: 30% 70%;
}
.flex-item-intro {
  margin: 1rem;
  text-align: justify;
}

/* services */
.services {
  background-color: white;
  padding: 10px;
}

.services_title {
  text-align: center;
}

.services-wrapper {
  justify-self: center; /* Center horizontally */
}

.flex-services {
  margin: 5% ;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: auto;
}
.icon-services {
  color: var(--main-bg-color);
}

.flex-item-services {
  margin: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(35, 30, 61, 0.1);
}


/* team */
.team_main {
  background-color: rgb(234, 240, 255);
  padding: 10px;
}
.TeamTitle {
  text-align: center;
}
.flex-team {
  margin: 5%;
  display: grid;
  gap: 2%;
  grid-template-columns: auto auto;
}
.flex-item-team {
  text-align: center;
}
.person-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.author {
  font-size: 1.5rem;
  padding: 0.8rem;
  text-transform: capitalize;
}

.job {
  text-transform: uppercase;
  padding: 0.1rem;
  font-weight: bold;
  color: var(--main-bg-color);
  font-size: 0.75rem;
  margin: auto;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);

  padding: 15px 15px 5px 15px;
  color: white;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.flex-item-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.topics {
  font-size: 20px;
  margin-bottom:5px;
}
.elements_wrapper{
  display: flex;
}
.elements {
  font-size: 14px;
  margin-right: 5px;
  
}
.flex-footer a {
  margin-right: 5px;
  font-size: 20px;
}
.Copyright {
  color: white;
  font-size: 13px;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  /* services */
  .icon-services {
    font-size: 300%;
  }

  /* team */
  .flex-team {
    grid-template-columns: auto auto auto auto;
  }
  .person-img {
    height: 150px;
    width: 150px;
  }
}