:root {
    --main-bg-color: rgb(0, 77, 165);
    --main-text-color: #0b445f;
    --second-bg-color: #2cbcff; /*mostly in buttons*/
    --second-text-color: #ffffff ;
    --aux-color: #7e9daa;
    --aux-bg-color: #f3f3f3;
    --extra-aux-color: #e0f5ff;
}
/* palette{#1357a7,#0d5475, #8edbff, #ffffff } */
/* accepted{#1357a7,} */
.flex{
    display: grid;
    grid-template-columns: auto;
}
.flex-item{
    justify-content: space-evenly;
    margin: 1rem;
    text-align: justify;
}
.banner{
    background-image: radial-gradient(rgba(88, 81, 81, 0),rgba(255, 255, 255, 0.192)
        ), url('./Home/images/n.jpg');
    background-position: center;
    background-size:cover;
    height: 100vh;
    align-items: center;
}
@media screen and (min-width: 600px) {
    .flex-item{
    margin: 3rem;
    padding: 1rem;
}
}